* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* colors */
body {
    background-color: hsl(217, 54%, 11%);
}
.main-container {
    background-color: hsl(216, 50%, 16%);
}

/* text */

.title-text {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.description {
    color: rgb(146,167,198);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
.small-text {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125em;
}
.price-text {
    color:hsl(178, 100%, 50%);
    font-weight: 600;
}
.small-text.soft-blue-text {
    font-weight: 400;
}
.soft-blue-text {
    color: hsl(215, 51%, 70%);
}
.white-text {
    color: hsl(0, 0%, 100%);
}

/* sizing and display */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 10px;
    padding: 25px;
}
.picture {
    display: flex;
    justify-content: center;
    max-width: fit-content;
}
.picture img, .overlay{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.overlay{
    position:absolute;
    background-color: hsl(178, 100%, 50%);
    top: 20%;
    opacity: 0;
}

.overlay-image img{
    position: absolute;
    top: 34%;
    left: 48.75%;
    opacity: 0;
}

.title-text {
    padding-bottom: 20px;
}
.text {
    padding-top: 30px;
    padding-bottom: 30px;
}
.info-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.price, .time {
    display: flex;
    align-items: center;
}
.price img {
    height: 20px;
    padding-right: 7px;
}
.time img {
    height: 15px;
    padding-right: 7px;
}
hr {
    border-color: hsl(215, 32%, 27%);
}
.author {
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.author img {
    height: 33px;
    border-style: solid;
    border-radius: 100%;
    border-color: white;
    border-width: 1px;
    margin-right: 10px;
}
.small-text.soft-blue-text {
    padding-right: 5px;
}

/* hover states */

.small-text.white-text:hover, .title-text.white-text:hover {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.overlay:hover {
    position:absolute;
    background-color: hsl(178, 100%, 50%);
    top: 20%;
    opacity: 0.3;
    cursor: pointer;
}
.overlay:hover + .overlay-image img{
    opacity: 1;
}